header{
    /* padding: 30px 0px; */
    transition: all 0.5s ease 0s;
    padding: 0 50px
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid firebrick; */
    align-items: center;
    padding: .5rem 0
}

.header__logo{
    /* border: 1px solid blue; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
}

.header__nav{
    /* border: 1px solid palevioletred; */
    flex: 0.5;
    /* align-self: flex-end; */
    height: 40px;    
}


.hamburger {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    background-color: #e0e0e2;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.sidenav li {
    padding: 5px;
    margin: 10px 5px;
    width: fit-content;
}
    
.closeButton {
    position: absolute !important;
    top: 52px;
    right: 25px;
    margin-left: 50px;
}
    
.closeButton:hover {
    cursor: pointer;
}
    

@media screen and (max-width: 875px) {
    .header__nav{
        display: none;
    }
    .hamburger{
        display: inline;
    }

}

.header__nav__ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 40px;    
}

.header__nav__ul li{
    /* border: 1px solid gold; */
    font-size: 24px;
    margin: 10px 20px;
    height: 40px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.header__nav__ul li:hover{
    cursor: pointer
}
.header__nav__ul span {
    margin: 10px 25px;
}

.header__nav__ul li::before{
    content: "";
    background: #7FDBFF;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    transform: scaleX(0);
    animation: 1s forwards no-hover-v linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

.header__nav__ul li:hover::before, .header__nav__ul li:focus::before{
    animation: .5s forwards hover-v linear;
    animation-fill-mode: forwards;
}

@keyframes hover-v {
    0% {
        transform: scaleX(0);
        height: 3px;
       }
    45% {   
        transform: scaleX(1.05);
        height: 3px;
       }
    55% {height: 3px;}
    100% {
        transform: scaleX(1.05);
        height: 100%;
       }
  }
@keyframes no-hover-v {
    0% {
        transform: scaleX(1.05);
        height: 100%;
       }
    45% {height: 3px;}
    55% {   
        transform: scaleX(1.05);
        height: 3px;
        opacity: 1;
       }
    
    100% {
        transform: scaleX(0);
        height: 3px;
        opacity: .02;
       }
  }

.header__darkMode > svg {
    /* fill: green; */
    width: 50px;
    height: 50px;
}

.header__darkMode__light {
    display: none;
}