.project__container{
    padding: 0 10%;
}

@media screen and (max-width: 400px) {
    .project__container{
        padding: 0 4%;
    }
}

.project__container > h1{
    padding: 40px 0;
}


.project__wrapper{
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (min-width: 1050px) {
    .project__wrapper{
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media screen and (max-width: 600px) {
    .project__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}