.app {
  min-height: 100vh;
  background-color: #d2e4e8;
  /* background-color: white; */
  /* padding: 30px 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link{
  text-decoration: none;
  color: inherit;
}